    /*
    Flaticon icon font: Flaticon
    Creation date: 14/12/2017 11:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows-2:before { content: "\f100"; }
.flaticon-close:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-signs:before { content: "\f103"; }
.flaticon-remove:before { content: "\f104"; }
.flaticon-delete-2:before { content: "\f105"; }
.flaticon-arrows:before { content: "\f106"; }
.flaticon-tool:before { content: "\f107"; }
.flaticon-like:before { content: "\f108"; }
.flaticon-unlike:before { content: "\f109"; }
.flaticon-dislike:before { content: "\f10a"; }
.flaticon-hand:before { content: "\f10b"; }
.flaticon-hand9999:before { content: "\f10c"; }
.flaticon-jewelry6:before { content: "\f10d"; }
.flaticon-jewel6:before { content: "\f10e"; }
.flaticon-diamond4:before { content: "\f10f"; }
.flaticon-wrench19:before { content: "\f110"; }
.flaticon-arrow487:before { content: "\f111"; }
.flaticon-hand77:before { content: "\f112"; }
.flaticon-audio49:before { content: "\f113"; }
.flaticon-play87:before { content: "\f114"; }
.flaticon-minus104:before { content: "\f115"; }
.flaticon-plus79:before { content: "\f116"; }
.flaticon-crown33:before { content: "\f117"; }
.flaticon-delete-1:before { content: "\f118"; }
.flaticon-delete:before { content: "\f119"; }
.flaticon-like7:before { content: "\f11a"; }
.flaticon-information15:before { content: "\f11b"; }
.flaticon-shapes:before { content: "\f11c"; }
.flaticon-sound14:before { content: "\f11d"; }
.flaticon-right-arrow26:before { content: "\f11e"; }
    
    $font-Flaticon-arrows-2: "\f100";
    $font-Flaticon-close: "\f101";
    $font-Flaticon-arrows-1: "\f102";
    $font-Flaticon-signs: "\f103";
    $font-Flaticon-remove: "\f104";
    $font-Flaticon-delete-2: "\f105";
    $font-Flaticon-arrows: "\f106";
    $font-Flaticon-tool: "\f107";
    $font-Flaticon-like: "\f108";
    $font-Flaticon-unlike: "\f109";
    $font-Flaticon-dislike: "\f10a";
    $font-Flaticon-hand: "\f10b";
    $font-Flaticon-hand9999: "\f10c";
    $font-Flaticon-jewelry6: "\f10d";
    $font-Flaticon-jewel6: "\f10e";
    $font-Flaticon-diamond4: "\f10f";
    $font-Flaticon-wrench19: "\f110";
    $font-Flaticon-arrow487: "\f111";
    $font-Flaticon-hand77: "\f112";
    $font-Flaticon-audio49: "\f113";
    $font-Flaticon-play87: "\f114";
    $font-Flaticon-minus104: "\f115";
    $font-Flaticon-plus79: "\f116";
    $font-Flaticon-crown33: "\f117";
    $font-Flaticon-delete-1: "\f118";
    $font-Flaticon-delete: "\f119";
    $font-Flaticon-like7: "\f11a";
    $font-Flaticon-information15: "\f11b";
    $font-Flaticon-shapes: "\f11c";
    $font-Flaticon-sound14: "\f11d";
    $font-Flaticon-right-arrow26: "\f11e";